<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <!-- pretty sure edit_article_path should work as a shorthand here, not sure why they included (@article) -->
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>